.feed-container {
  position:absolute;
  top: 70px;
  left: 0px;
  width: 570px;
  height: calc(100% - 70px);
  overflow-y: scroll;
  z-index: 20;
  box-shadow: 1px 5px 9px #888;
  padding-top: 10px;
  padding-bottom: 10px;
}
